<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title>{{ page.title | TitleCase }}</title>
        <link rel="icon" href="../../favicon.ico">        
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
                
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">        
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="/assets/css/styles.css">        
    </head>
    <body>
        <!-- Navigation -->
        {% include navigation.html %}
        
        <!-- Body/Content -->
        <div class="container">
            {{ content }}
        </div>

        <!-- Footer -->
        {% include footer.html %}
        
        <!-- Bootstrap core JavaScript ==================================== -->
        <!-- Placed at the end of the document so the pages load faster === -->
        {% include bootstrap.html %}
    </body>    
</html>