<!DOCTYPE html>
<html lang="en">

    {% include portfolio/head.html %}

    <body id="page-top" class="index">

        {% include portfolio/navbar.html %}

        {% include portfolio/header.html %}

        {% include portfolio/portfolio.html %}

        {% include portfolio/about.html %}

        {% include portfolio/contact.html %}

        {% include portfolio/footer.html %}

        {% include portfolio/modals.html %}

        {% include portfolio/javascript.html %}

    </body>

</html>